@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animation {
  animation: fadeIn 2s ease-in-out 0s infinite forwards;
}

@keyframes fadeIn {
  0% {
    left: -5%;
  }
  25% {
    left: 25%;
  }
  100% {
    left: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .animation {
    animation: fadeIn 2.5s ease-in-out 0s infinite forwards;
  }
  @keyframes fadeIn {
    0% {
      left: -20%;
    }
    40% {
      left: 40%;
      width: 10rem;
    }
    100% {
      left: 100%;
    }
  }
}

.light {
  background: url("../src/assets/background.png");
  background-position-y: center;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: #000;
    background: white;
  }
}
